@media screen and (max-width: 768px) {
    header nav a {
        margin-right: 0px;
        padding: 5px;
    }

    main {
        display: grid;
        margin: 10px;
        width: 100%;
        grid-gap: 10%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "div1"
            "div2"
            "div3"
            "div4";
    }
}
